.form-row{
	justify-content: center;

}
.form-bg{
	background-image: url('../images/whit.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 770px;

}



.plus{
	width: 15%;
	border-radius: 30px;
	border-color: lightgray;
}

.sign-in-col-2{
	text-align: center;
	align-content: flex-end;
	background-image: url('../images/login.png');
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

h2{
	color: white;
}

.sign-in-col-1{
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	background-color: #f8f5f0;
}

.log-in-col-2{
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	background-color: #f8f5f0;
}

.log-in-col-1{
	text-align: center;
	align-content: flex-end;
	background-image: url('../images/login.png');
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	height: 650px;

}

.log-in-logo{
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.signup-logo{
	float: left;
	width: 25%;
}

.signup-title{
	font-size: 32px;
}

.enter-name{
	padding-left: 15px;
}

.input-signup{
	border-radius: 30px;
}
